@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@source '../../_site/**/*.html';

@theme {

  --font-sans: 'Manrope', 'sans-serif';
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    @apply leading-snug
  }

  .display-1 {
    @apply text-7xl lg:text-9xl
  }

  .display-2 {
    @apply text-6xl lg:text-8xl
  }

  .display-3 {
    @apply text-5xl lg:text-7xl
  }

  .display-4 {
    @apply text-4xl lg:text-6xl
  }

  h1, .h1 {
    @apply text-3xl lg:text-5xl
  }

  h2, .h2 {
    @apply text-2xl lg:text-4xl
  }

  h3, .h3 {
    @apply text-xl lg:text-3xl
  }

  h4, .h4 {
    @apply text-lg lg:text-2xl
  }

  h5, .h5 {
    @apply text-base font-bold
  }

  p.lead {
    @apply text-xl lg:text-2xl leading-loose
  }

}

/* @font-face {
    font-family: "GT-Walsheim-Pro";
    src: url('/assets/fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.eot'),
        url('/assets/fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.woff') format("woff"),
        url('/assets/fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Light.ttf') format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "GT-Walsheim-Pro";
    src: url('/assets/fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.eot'),
        url('/assets/fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.woff') format("woff"),
        url('/assets/fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GT-Walsheim-Pro";
    src: url('/assets/fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.eot'),
        url('/assets/fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.woff') format("woff"),
        url('/assets/fonts/GT_Walsheim_Pro/GT-Walsheim-Pro-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
} */
