<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    {% include favicons.html %}

    {% include open-graph.html %}

    {% if site.google-font %}
      <!-- Google Font -->
      <link href="{{ site.custom-font }}" rel="stylesheet">
    {% endif %}

    {% if site.fontawesome %}
      <!-- FontAwesome 5 -->
      <script src="{{ site.fontawesome }}" crossorigin="anonymous"></script>
    {% endif %}

    {% if site.material-icon %}
      <!-- Google Material Icon -->
      <script src="{{ site.material-icon }}" crossorigin="anonymous"></script>
    {% endif %}

    <!-- STYLESHEET -->

    <!-- Main -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <!-- PLUGINS -->

    {% if site.isPWA %}
      <!-- PWA -->
      <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
    {% endif %}
    
  </head>
  
  <body class="bg-zinc-100 dark:bg-zinc-950 text-zinc-950 dark:text-zinc-50">
    {{ content }}
  </body>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-5KW8TJ6C4T"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5KW8TJ6C4T');
  </script>

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/684c7f8c4aea20190b6343b5/1itld4ffk';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->  

</html>
