---
layout: base
layout-type: #container | container-fluid
custom-stylesheet: 
---

<nav class="container mx-auto py-6 lg:py-12 px-4 lg:px-8 print:hidden">
  <a class="text-xl text-zinc-950 dark:text-zinc-300" href="{{ site.baseurl }}/"><b>JASPER LEPARDO</b><span class="block lg:inline text-zinc-500"> <span class="hidden lg:inline">—</span> Product Designer</span></a>
  <!-- <a class="nav-link"  href="{{ site.baseurl }}/my-calendar.html">Let's connect</a> -->
</nav>

<main class="{% if page.layout-type %}{{page.layout-type}}{% else %}{{ layout.layout-type | default: 'container'}}{%endif%} mx-auto max-w-7xl px-4 lg:px-8">
  {{ content }}
</main>

<footer class="container mx-auto max-w-7xl py-6 lg:py-12 px-4 lg:px-8 print:hidden grid gap-10 mt-40">
  <div>
    <h1 class="display-2">Say Hello.</h1>
    <p class="lead">email <a href="mailto:{{ site.data.resume.personal-information.email-address }}">{{ site.data.resume.personal-information.email-address }}</a></p>
  </div>
  <div class="flex flex-col lg:flex-row gap-4">
    {% for social-media in site.data.resume.personal-information.social-media %}
      <a class="py-6 px-12 border-zinc-50 border rounded-full leading-6 text-center uppercase" target="_blank" href="{{ social-media.url }}">{{ social-media.name }}</a>
    {% endfor %}
  </div>
  <p>Copyright © 2025 Jasper Lepardo. All rights reserved.</p>
</footer>

